.nav {
    width: 100%;
    background: lightblue;
    display: flex;
    line-height: 40px;
}

.nav ul {
    margin-left: auto;
    font-size: 1.3em;
}

.nav > a {
    font-size: 1.3em;
}

.active  {
    background: #eee;
}